.selectBox {
  @include boxShadow();
  width: 300px;
  border-radius: $borderRadius;
  background-color: $white;
  margin: 30px;
  display: flex;
  flex-direction: column;

  .inputSelectBox {
    border: 1px solid $gray;
    border-radius: $borderRadius;
    padding: 5px 10px;
    margin: 10px;
  }

  .options {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow-y: scroll;

    span {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cursor: pointer;
      color: $itemsColor;
      padding: 5px 10px;

      &:hover {
        background-color: $hoverBackgroundColor;
      }

      input {
        margin-right: 10px;
      }
    }
  }
}
