.selectBox {
  @include boxShadow();
  width: 300px;
  border-radius: $borderRadius;
  background-color: $white;
  margin: 30px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow-y: scroll;

  .inputSelectBox {
    border: 1px solid $gray;
    border-radius: $borderRadius;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  .options {
    display: flex;
    flex-direction: column;

    span {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 5px;
      cursor: pointer;
      color: $itemsColor;

      &:hover {
      }

      input {
        margin-right: 10px;
      }
    }
  }
}
