#SelectBoxWrapper {
  position: relative;
  width: fit-content;
  margin: 50px;

  .dropDown {
    min-width: 130px;
    height: 15px;
    border-radius: 20px;
    border: 1px solid $gray;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .dropDownIcon {
      width: 20px;
      height: 20px;
      position: relative;
      border-radius: 4px;
      cursor: pointer;
      background-color: transparent;
    }
    .dropDownIcon::after {
      content: "";
      position: absolute;
      display: block;
      background-color: $black;
      height: 2px;
      top: 45%;
      left: 5px;
      right: 5px;
      transform: rotate(45deg);
    }
    .dropDownIcon::before {
      content: "";
      position: absolute;
      display: block;
      background-color: $black;
      width: 2px;
      left: 77%;
      top: 5px;
      bottom: 5px;
      transform: rotate(45deg);
    }
  }

  .selectBox {
    @include boxShadow();
    width: 300px;
    border-radius: $borderRadius;
    background-color: $white;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 30px;

    .inputSelectBox {
      border: 2px solid $gray;
      border-radius: $borderRadius;
      padding: 5px 10px;
      margin: 10px;
    }

    .options {
      display: flex;
      flex-direction: column;
      max-height: 260px;
      overflow-y: scroll;

      span {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        color: $itemsColor;
        padding: 5px 10px;

        &:hover {
          background-color: $hoverBackgroundColor;
        }

        input {
          margin-right: 10px;
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}

.active {
  .dropDown {
    background-color: $blue;
    color: white;
    border-color: $blue !important;
  }

  .selectedBoxCount {
    background-color: white;
    color: $blue;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 1.2rem;
    margin-right: 5px;
  }

  .dropDownIcon::before,
  .dropDownIcon::after {
    background-color: $white !important ;
  }
}
